.navbar{
  background-color: #2c3d6f;
  font-size: 2rem;
  

  

  .navbar-brand img{
    width: 10rem;
    height: 10rem;
    margin: 0 auto;
    padding: 2px;

  }
}
.navbar-light .navbar-nav a.nav-link  {
  color: white;
}

.navbar-light .navbar-nav a.nav-link:hover  {
  color: red;
}